<p id="notice"><%= notice %></p>

<h1>Implementation Try Steps</h1>

<table>
  <thead>
    <tr>
      <th>Change request step try</th>
      <th>Data</th>
      <th>Sort integer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @implementation_try_steps.each do |implementation_try_step| %>
      <tr>
        <td><%= implementation_try_step.change_request_step_try_id %></td>
        <td><%= implementation_try_step.data %></td>
        <td><%= implementation_try_step.sort_integer %></td>
        <td><%= link_to 'Show', implementation_try_step %></td>
        <td><%= link_to 'Edit', edit_implementation_try_step_path(implementation_try_step) %></td>
        <td><%= link_to 'Destroy', implementation_try_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Implementation Try Step', new_implementation_try_step_path %>
